/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&none  &none           &none           &none        &none             &none                                  &none   &none        &none        &none            &none                    &none
&none  &kp Q           &kp W           &kp E        &kp R             &kp T                                  &kp Y   &kp U        &kp I        &kp O            &kp P                    &none
&none  &hm LEFT_GUI A  &hm LEFT_ALT S  &hm LCTRL D  &hm LEFT_SHIFT F  &kp G                                  &kp H   &hm RSHFT J  &hm LCTRL K  &hm RIGHT_ALT L  &hm RIGHT_GUI SEMICOLON  &none
&none  &kp Z           &kp X           &kp C        &kp V             &kp B      &none            &none      &kp N   &kp M        &kp COMMA    &kp DOT          &kp FSLH                 &none
                                       &none        &none             &kp ENTER  &kp BACKSPACE    &kp SPACE  &tog 1  &none        &none
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans      &trans              &trans                  &trans                       &trans                               &trans           &trans                      &trans                      &trans               &trans              &trans
&trans  &kp ESCAPE  &kp CAPS            &kp LEFT_BRACKET        &kp LEFT_PARENTHESIS         &kp LEFT_BRACE                       &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS       &kp RIGHT_BRACKET           &kp UNDER            &kp DELETE          &trans
&trans  &kp TAB     &hm LEFT_ALT CARET  &hm LEFT_CONTROL GRAVE  &mt LEFT_SHIFT SINGLE_QUOTE  &kp DOUBLE_QUOTES                    &kp LEFT         &mt RIGHT_SHIFT DOWN_ARROW  &mt RIGHT_CONTROL UP_ARROW  &mt RIGHT_ALT RIGHT  &mt RIGHT_GUI PIPE  &trans
&trans  &kp GLOBE   &caps_word          &trans                  &key_repeat                  &trans             &trans    &trans  &trans           &trans                      &trans                      &trans               &kp BACKSLASH       &trans
                                        &trans                  &trans                       &tog 0             &trans    &trans  &tog 2           &trans                      &trans
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans                    &trans                    &trans                 &trans                      &trans                             &trans           &trans                       &trans                 &trans                     &trans                     &trans
&trans  &kp EXCL                  &kp AT                    &kp HASH               &kp DOLLAR                  &kp PERCENT                        &kp CARET        &kp AMPS                     &kp ASTERISK           &kp LEFT_PARENTHESIS       &kp RIGHT_PARENTHESIS      &trans
&trans  &mt LEFT_GUI KP_NUMBER_1  &mt LEFT_ALT KP_NUMBER_2  &mt LCTRL KP_NUMBER_3  &mt LEFT_SHIFT KP_NUMBER_4  &kp KP_NUMBER_5                    &kp KP_NUMBER_6  &mt RIGHT_SHIFT KP_NUMBER_7  &mt RCTRL KP_NUMBER_8  &mt RIGHT_ALT KP_NUMBER_9  &mt RIGHT_GUI KP_NUMBER_0  &trans
&trans  &trans                    &trans                    &trans                 &trans                      &trans           &trans    &trans  &kp KP_PLUS      &kp MINUS                    &kp EQUAL              &kp LBKT                   &kp RBKT                   &trans
                                                            &trans                 &trans                      &trans           &trans    &trans  &trans           &trans                       &trans
            >;
        };
    };
};
